body {
	@apply text-grey-dark font-sans;
}
.wide-container {
	max-width: 1440px;
}

h1 {
	@apply text-7xl font-ttcommons text-black font-bold;
	@media screen and (max-width: $md) {
		@apply text-5xl;
	}
}
h2 {
	@apply text-5xl font-ttcommons font-semibold text-blue;
	@media screen and (max-width: $md) {
		@apply text-3xl;
	}
}
h3 {
	@apply text-3xl font-ttcommons text-grey font-medium;
}
h4 {
	@apply text-2xl mb-4 font-ttcommons font-semibold;
}
h5 {
	@apply text-lg mb-4 font-ttcommons font-bold uppercase tracking-wide;
}
h6 {
	@apply text-xl mb-4 font-ttcommons font-bold;
}
p {
	@apply leading-normal mb-6;
}

a {
	@apply text-blue;
	&:hover {
		@apply underline;
	}
}

svg {
	@apply inline-block;
	vertical-align: top;
}

.svg-inline--fa {
	verical-align: 0;
}

// Adds custom background squares for ol
ol.square-list {
	li {
		position: relative;
		list-style: none;
		&:before {
			@apply absolute top-0 text-white bg-grey text-center rounded; 
			--size: 22px;
			left: calc(-1 * var(--size) - 10px);
			line-height: var(--size);
			width: var(--size);
			height: var(--size);
		}
	}
}

// Fixes clipping in Chrome
// See https://github.com/necolas/normalize.css/issues/778
button,
input,
optgroup,
select,
textarea {
	line-height: 1.2;
}

@media screen and (min-width: $md) {
	.md\:columns-2 {
		columns: 2;
		> * {
			display: inline-block;
		}
	}
}

@media screen and (min-width: $lg) {
	.lg\:columns-3 {
		columns: 3;
		> * {
			display: inline-block;
		}
	}
}
